<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Restaurants </title>
        <style>
            table, th, td{
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <h2>餐廳列表</h2>
        <form action="/menu/" method="get">
        <table>
            <tr>
                <th>選取</th>
                <th>店名</th>
                <th>電話</th>
                <th>地址</th>
                {% if perms.restaurants.can_comment %}
                    <th>評價</th>
                {% endif %}
            </tr>
            {% for r in restaurants%}
                <tr>
                    <td> <input type="radio" name="id" value="{{r.id}}"> </td>
                    <td> <a href="/menu/{{r.id}}"> {{r.name}} </a></td>
                    <td> {{ r.phone_number }} </td>
                    <td> {{ r.address }} </td>
                    {% if perms.restaurants.can_comment %}
                        <td> <a href="/comment/{{r.id}}/"> comment </a> </td>
                    {% endif %}
                    <!--<td> <a href="/menu/{{r.id}}"> menu </a></td>-->
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="觀看菜單">
        </form>
    </body>
</html>