<!doctype html>
<html>
    <head>
        <style>
            #main {
                width: 600px;
                margin: 0 auto;
              }
        </style>
        <meta charset ="UTF-8">
        <title>mysite</title>
    </head>
    <body>
        <div id="header">header</div>
        <div id="main">
        <div class="cat">cat</div>
        <div class="content">content</div>
        <div class="sidebar">sidebar</div>
    </div>
    <div id="footer">footer</div>
    </body>

</html>